$font-heading: 'Roboto', Arial, sans-serif;
$font-body: 'Roboto', Arial, sans-serif;
$font-ital: 'Roboto', Arial, sans-serif;
$font-bold: 'Roboto', Arial, sans-serif;

$grid-gutter: 30px;

$color-primary: #465527;
$color-secondary: #ecd5b9;